body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: black;
    color: white;
    padding: 1.5rem;
    text-align: center;
}
