p::first-line{
    background-color: black;
    color: lightgray;
}
p::first-letter{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    color: lightsalmon;
}

h2::after{
    content: url("https://cdn.pixabay.com/photo/2016/11/19/15/50/chair-1840011_1280.jpg");
    display: block;
}

